NODE_ENV=development
PORT=8000

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/codeplatform?schema=public"

# Authentication
JWT_SECRET="super-secret-development-jwt-key-replace-in-production-min-32-chars"
JWT_EXPIRES_IN="1d"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# BullMQ Queue
JUDGE_QUEUE_NAME=submission-queue
